* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  line-height: 1;
  font-size: 20px;
}

:root {
  --header-height: 3rem;
  --input-height: 3rem;
}

.root {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  padding-top: var(--header-height);
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: var(--header-height);
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid black;
  height: calc(100vh - var(--header-height) - 1rem);
}

.messages {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.client {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0.5;
  font-size: 0.75rem;
}

.client-status-idle {
  color: black;
}

.client-status-pending {
  color: blue;
}

.client-status-success {
  color: green;
}

.client-status-error {
  color: red;
}

.messages::-webkit-scrollbar {
  display: none;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.message.outbound {
  align-items: flex-end;
  background-color: lightgray;
}

.input {
  display: flex;
  flex-basis: var(--input-height);
  flex-shrink: 0;
  border-top: 2px solid black;
}

.input input {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
}

input:focus {
  outline: none;
}

.input button {
  display: flex;
  flex-basis: 8rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-left: 2px solid black;
}

.input button:disabled button:hover {
  background-color: lightgray;
}

.input button:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.create {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.createInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 3rem;
}

.createInstructions {
  margin-bottom: 2rem;
  text-align: center;
}

.createActions {
  display: flex;
  gap: 3rem;
}

.learnMore {
  display: flex;
  width: 8rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.create button {
  display: flex;
  width: 8rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.create button:hover {
  /* background-color: lightgreen; */
  border: 4px solid black;
  cursor: pointer;
}

.created {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
